- @page_title = @fabulator_exhibit.name + ' Exhibit Database - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Exhibit Database Definition
  - main.edit_form do
    = render :partial => 'form'
